{% extends 'base.html' %}

{% block page_title %} Confirm Delete Dirty Talk {% endblock page_title %}


{% block page_content %}

<div class="container mt-3 mb-5">
    <h1>Confirm Delete This Dirty Talk ?</h1>
    <div class="">
        {{dirtytalk.text|safe|linebreaks}}
    </div>

    <br>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Delete" class="btn btn-danger">
        <a href="{% url 'choti_golpo:talk-list' %}" class="btn btn-primary">Cancel</a>
    </form>

</div>

{% endblock page_content %}