{% extends 'base.html' %}

{% block page_title %} All Stories {% endblock page_title %}

{% block page_content %}


    {% for story in story_list %}
        <h3 class=" position-relative">
            <span class="text-success position-absolute top-0 start-0 translate-middle p-2">{% if story.is_read %}<i class="bi bi-check"></i>{% endif %}</span>
            <a class="story-link" href="{% url 'detail-page' story.id %}">{{story.title}}</a>
        </h3>
        <hr>
    {% endfor %}

{% endblock page_content %}